:root {
    --bg-color: black;
}

/* 1. BASE DEL DOCUMENTO */
html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000 !important;
    overflow: hidden;
}

/* 2. CONTENEDOR PRINCIPAL */
.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.stats-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.row-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* CONTENEDORES PARA EVITAR DESPLAZAMIENTOS */
.icon-wrapper {
    flex: 1; /* Toma la mitad izquierda */
    display: flex;
    justify-content: flex-end; /* Pega el icono al centro */
}

.number-wrapper {
    flex: 1; /* Toma la mitad derecha */
    display: flex;
    justify-content: flex-start; /* Pega el número al centro */
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.number {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 900;
    line-height: 0.8;
    text-align: left;
    min-width: 1.2em; /* Reserva espacio para que el icono no baile */
    
    /* Profundidad (Efecto que ya tenías) */
    text-shadow: 
        4px 4px 0px rgb(255, 255, 255),
        8px 8px 15px rgba(0,0,0,0.9);
}